<!DOCTYPE html>

		<!--여기에 서브메뉴가 필요하신 경우 작성해주세요. 클래스 명은 반드시 cmsubnav 포함시켜주세요 -->
		<!--아래의 양식을 지켜주세요. 추가로 넣고싶은 태그가 있다면 문의해주세요.-->
		<div class="cmsubnav">
			<ul>
				<li><span>공지사항 및 설문</span>
					<ul>
						<li><span>공지사항</span>
							<ul>
								<li><a href="/notices">전체 게시물</a></li>
								<li><a href="/notices/my/1">내 게시물</a></li>
							</ul>
						</li>
						<li><span>설문</span>
							<ul>
								<li><a href="#">임시메뉴</a></li>
								<li><a href="#">임시메뉴</a></li>
								<li><a href="#">임시메뉴</a></li>
							</ul>
						
						</li>
					</ul>
					
				</li>
			</ul>
		</div>
		
