@charset "UTF-8";
/*게시판 간격조정*/
#cmposting-format ul> li >span:nth-child(1){width: 10%}
#cmposting-format ul> li >span:nth-child(2){width: 10%}
#cmposting-format ul> li >span:nth-child(3){width: 5%}
#cmposting-format ul> li >span:nth-child(4){width: 15%}
#cmposting-format ul> li >span:nth-child(5){width: 15%}
#cmposting-format ul> li >span:nth-child(6){width: 10%}
#cmposting-format ul> li >span:nth-child(7){width: 10%}
#cmposting-format ul> li >span:nth-child(8){width: 10%}
#cmposting-format ul> li >span:nth-child(9){width: 20%}


/*  */
.personnel{position: relative; overflow: hidden;}

.leave-requset-list button{padding: 3px 5px; font-size: 13px; line-height: 15px; }



/*pagination*/

.pagination{width: 80%; margin: 0 auto; padding: 10px 0; display: flex; justify-content: center; color: var( --sub-color3);}

.pagination span{padding: 2px}

/*휴가*/
.leave-requset-list ul> li >span:nth-child(1){width: 10%}
.leave-requset-list ul> li >span:nth-child(2){width: 10%}
.leave-requset-list ul> li >span:nth-child(3){width: 20%}
.leave-requset-list ul> li >span:nth-child(4){width: 10%}
.leave-requset-list ul> li >span:nth-child(5){width: 20%}
.leave-requset-list ul> li >span:nth-child(6){width: 20%}
.leave-requset-list ul> li >span:nth-child(7){width: 5%}
.leave-requset-list ul> li >span:nth-child(8){width: 2%}